.button-pattern {
    position: relative;
    bottom: 400px;
    left: 250px;
    width: 80px;
    display: flex;
    justify-content: center;
}

.cover-btn {
    width: 80px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    color: #3B0000;
    font-size: medium;
    font-weight: bold;
}

.cover-btn:hover {
    color: var(--light-color);
    cursor: pointer;
}